<!--begin::sidebar menu-->
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
    <!--begin::Menu wrapper-->
    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
        <!--begin::Scroll wrapper-->
        <div
                id="kt_app_sidebar_menu_scroll"
                class="scroll-y my-5 mx-3"
                data-kt-scroll="true"
                data-kt-scroll-activate="true"
                data-kt-scroll-height="auto"
                data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
                data-kt-scroll-wrappers="#kt_app_sidebar_menu"
                data-kt-scroll-offset="5px"
                data-kt-scroll-save-state="true"
        >
            <!--begin::Menu-->
            <div
                    class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
                    id="#kt_app_sidebar_menu"
                    data-kt-menu="true"
                    data-kt-menu-expand="false"
            >
                <!--begin:Menu item-->
                <div
                        data-kt-menu-trigger="click"
                        class="menu-item show menu-accordion"
                >
                    <!--begin:Menu link--><span class="menu-link"
                ><span class="menu-icon"
                ><i class="ki-duotone ki-element-11 fs-2"
                ><span class="path1"></span><span class="path2"></span
                ><span class="path3"></span
                ><span class="path4"></span></i></span
                ><span class="menu-title">Dashboards</span
                ><span class="menu-arrow"></span></span
                ><!--end:Menu link-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link--><a
                                class="menu-link {% if page=='time-tracking' %} active {% endif %}"
                                href="{{ url_for('index') }}"
                        ><span class="menu-bullet"
                        ><span class="bullet bullet-dot"></span></span
                        ><span class="menu-title">Daily Time Tracking</span></a
                        ><!--end:Menu link-->
                        </div>
                        <div class="menu-item">
                            <!--begin:Menu link--><a
                                class="menu-link {% if page=='time-entries' %} active {% endif %}"
                                href="{{ url_for('time_entries.view_time_entries') }}"
                        ><span class="menu-bullet"
                        ><span class="bullet bullet-dot"></span></span
                        ><span class="menu-title">View Time Entries</span></a
                        ><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                    </div>
                </div>
                <!--end:Menu item-->

                <!--begin:Menu item-->
                <div data-kt-menu-trigger="click" class="menu-item show menu-accordion">
                    <!--begin:Menu link--><span class="menu-link"
                ><span class="menu-icon"
                ><i class="ki-duotone ki-menu fs-2"
                ><span class="path1"></span><span class="path2"></span
                ><span class="path3"></span
                ><span class="path4"></span></i></span
                ><span class="menu-title">Management</span
                ><span class="menu-arrow"></span></span
                ><!--end:Menu link--><!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link--><a
                                class="menu-link {% if page=='view-clients' %} active {% endif %}"
                                href="{{ url_for('clients.manage_clients') }}"
                        ><span class="menu-bullet"
                        ><span class="bullet bullet-dot"></span></span
                        ><span class="menu-title">Clients</span></a
                        ><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link--><a
                                class="menu-link {% if page=='view-consultants' %} active {% endif %}"
                                href="{{ url_for('consultants.manage_consultants') }}"
                        ><span class="menu-bullet"
                        ><span class="bullet bullet-dot"></span></span
                        ><span class="menu-title">Consultants</span></a
                        ><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link--><a
                                class="menu-link {% if page=='view-projects' %} active {% endif %}"
                                href="{{ url_for('projects.manage_projects') }}"
                        ><span class="menu-bullet"
                        ><span class="bullet bullet-dot"></span></span
                        ><span class="menu-title">Projects</span></a
                        ><!--end:Menu link-->
                        </div>
                        <div class="menu-item">
                            <!--begin:Menu link--><a
                                class="menu-link {% if page=='projects-consultants' %} active {% endif %}"
                                href="{{ url_for('projects.projects_consultants') }}"
                        ><span class="menu-bullet"
                        ><span class="bullet bullet-dot"></span></span
                        ><span class="menu-title">Assigned Consultants</span></a
                        ><!--end:Menu link-->
                        </div>
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end::Menu-->
        </div>
        <!--end::Scroll wrapper-->
    </div>
    <!--end::Menu wrapper-->
</div>
<!--end::sidebar menu-->
