<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Trackio{% endblock %}</title>
  </head>
  <style>
    .active-svg {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
        hue-rotate(41deg) brightness(106%) contrast(101%);
    }
  </style>
  <link
    href="{{ url_for('static', filename='css/tailwind.css') }}"
    rel="stylesheet"
  />
  <body class="container">

    <div class="p-10 max-w-md mx-auto mt-4 p-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="p-4 mb-4 text-sm {% if category == 'danger' %}bg-red-100 text-red-700{% elif category == 'success' %}bg-green-100 text-green-700{% endif %} rounded-lg" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endwith %}{% block content %}{% endblock %}
    </div>
  </body>
</html>
