<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">

        <!-- <div class="d-flex align-items-center mb-5"> -->
        <form action=""
              class="d-flex flex-wrap gap-3 align-items-center my-3">
            <div>
                <label for="filter_clients fs-2">Filter by Project Status:</label>
                <select class="form-select form-select-solid" id="status" name="status"
                        data-kt-select1="true"
                        data-close-on-select="false"
                        data-placeholder="Status"
                        data-dropdown-parent="#kt_menu_64b776349d09d" data-allow-clear="true">

                    <option {% if not status or status == 'Active' %}selected{% endif %} value="Active">Active</option>
                    <option {% if status == 'Archived' %}selected{% endif %} value="Archived">Archived</option>
                </select>
            </div>
            <div class="d-flex align-items-center mt-5">
                <button type="submit" class="btn btn-primary px-4 py-3 me-1">Apply</button>
            </div>
        </form>
        <div class="card mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold fs-3 mb-1">My Projects</span>
                </h3>
                <div class="card-toolbar">
                    {% if current_user.is_admin %}
                        <!--begin::Menu-->
                        <div class="card-toolbar">
                            <a href="{{ url_for('projects.add_project') }}" class="btn btn-sm btn-light-primary">
                                <i class="ki-duotone ki-plus fs-2"></i>New Project</a>
                        </div>
                        <!--end::Menu-->
                    {% endif %}
                </div>
            </div>

            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                        <!--begin::Table head-->
                        <thead>
                        <tr class="fw-bold text-muted">

                            <th class="min-w-100px">Project ID</th>
                            <th class="min-w-100px">Name</th>
                            <th class="min-w-100px">Client</th>
                            <th class="min-w-100px">Start Date</th>
                            <th class="min-w-100px">End Date</th>
                            <th class="min-w-100px">Price</th>
                            {% if current_user.is_admin %}
                                <th class="min-w-100px text-end">Actions</th>
                            {% endif %}

                        </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                        {% for project in projects %}
                            {% if id==project.id %}
                                {% if current_user.is_admin %}
                                    <tr>
                                        <form action="" method="post">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                            <th class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.id }}</th>
                                            <td class="text-dark fw-bold text-hover-primary mb-1 fs-6"><input
                                                    class="form-control form-control-solid ms-n3" type="text"
                                                    id="name"
                                                    name="name" value="{{ project.name }}" required></td>
                                            {% for client in clients %}
                                                {% if project.customer_id == client.id %}
                                                    <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ client.name }}</td>
                                                {% endif %}
                                            {% else %}
                                                <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">Error
                                                    Loading
                                                    the
                                                    Name
                                                </td>
                                            {% endfor %}
                                            <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.start_date }}</td>
                                            <td><input type="date" id="end_date" name="end_date"
                                                       class="form-control form-control-solid"
                                                       placeholder="Select End Date"
                                                       value="{% if project %}{{ project.end_date }}{% endif %}"
                                                       required/></td>
                                            {% if project.price %}
                                                <td class="text-dark fw-bold text-hover-primary mb-1 fs-6"><input
                                                        class="form-control form-control-solid ms-n3" type="text"
                                                        id="price"
                                                        name="price" value="{{ project.price }}" required></td>
                                            {% else %}
                                                <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">Hourly
                                                    Based
                                                </td>
                                            {% endif %}
                                            {#                                        <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.end_date }}</td>#}
                                            <td class="text-end">
                                                <button type="submit"
                                                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="currentColor" class="bi bi-check-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                                    </svg>
                                                </button>
                                                <a href="{{ url_for('projects.manage_projects') }}"
                                                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm delete-link"
                                                   data-category-name="{{ project.category_name }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="currentColor" class="bi bi-x-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </a>

                                                <a href="{{ url_for('projects.delete_project', id=project.id ) }}"
                                                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm delete-link"
                                                   data-category-name="{{ project.category_name }}">
                                                    <i class="ki-duotone ki-trash fs-2">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                        <span class="path3"></span>
                                                        <span class="path4"></span>
                                                        <span class="path5"></span>
                                                    </i>
                                                </a>
                                            </td>
                                        </form>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.id }}</td>
                                    <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.name }}</td>
                                    {% for client in clients %}
                                        {% if project.customer_id == client.id %}
                                            <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ client.name }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">Error Loading the
                                            Name
                                        </td>
                                    {% endfor %}
                                    <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.start_date }}</td>
                                    <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ project.end_date }}</td>
                                    {% for client in clients %}
                                        {% if project.customer_id == client.id %}
                                            {% if not project.price %}
                                                <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">Hourly
                                                    Based
                                                </td>
                                            {% else %}
                                                <td class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ client.currency }} {{ project.price }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if current_user.is_admin %}
                                        <td class="text-end">
                                            {% if project.active %}
                                                <form action="{{ url_for('projects.archive') }}" method="post">
                                                    <input type="hidden" name="id" value="{{ project.id }}">
                                                    <button type="submit"
                                                            class="btn btn-bg-light btn-active-color-primary btn-sm me-1">
                                                        Mark as Complete
                                                    </button>
                                                    <a href="{{ url_for('projects.manage_projects', id=project.id) }}"
                                                       class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                        <i class="ki-duotone ki-pencil fs-2">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                        </i>
                                                    </a>

{#                                                    <a href="{{ url_for('projects.delete_project', id=project.id) }}"#}
{#                                                       class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm delete-link">#}
{#                                                        <i class="ki-duotone ki-trash fs-2">#}
{#                                                            <span class="path1"></span>#}
{#                                                            <span class="path2"></span>#}
{#                                                            <span class="path3"></span>#}
{#                                                            <span class="path4"></span>#}
{#                                                            <span class="path5"></span>#}
{#                                                        </i>#}
{#                                                    </a>#}
                                                </form>
                                            {% else %}
                                                <form action="{{ url_for('projects.activate') }}" method="post">
                                                    <input type="hidden" name="id" value="{{ project.id }}">
                                                    <button type="submit"
                                                            class="btn btn-bg-light btn-active-color-primary btn-sm me-1">
                                                        Set as Active
                                                    </button>

{#                                                    <a href="{{ url_for('projects.delete_project', id=project.id) }}"#}
{#                                                       class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm delete-link">#}
{#                                                        <i class="ki-duotone ki-trash fs-2">#}
{#                                                            <span class="path1"></span>#}
{#                                                            <span class="path2"></span>#}
{#                                                            <span class="path3"></span>#}
{#                                                            <span class="path4"></span>#}
{#                                                            <span class="path5"></span>#}
{#                                                        </i>#}
{#                                                    </a>#}
                                                </form>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--begin::Body-->
        </div>

    </div>
</div>

<script>

    window.onload = function () {
        var select = document.getElementById("selectMonth");

        select.addEventListener("change", function () {
            var selectedOption = select.value;
            console.log("Selected Option: " + selectedOption);
            console.log(location.href);

        });
    };
</script>